<robot name="root">
  <link name="link_original">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="textured.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="9.7234E-01"/>
      <inertia ixx="4.25E-03" ixy="-1.51E-05" ixz="-7.00E-05" iyy="4.56E-03" iyz="-1.37E-04" izz="7.72E-04"/>
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd_allinone.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
</robot>
