<robot name="root">
  <link name="link_original">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="textured.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="2.7400E-02"/>
      <inertia ixx="3.10E-05" ixy="-6.79E-08" ixz="-2.07E-09" iyy="1.06E-06" iyz="-1.60E-08" izz="3.10E-05"/>
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="coacd_allinone.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
</robot>
